@media (max-width: 480px){
	a{
		display: none;
	}

	nav img{
		display:inline;
		margin-left: 80%;
	}

	.imagen-completa{
		height: 200px;
	}

	.columnas{
		display: none;
	}

	.video{
		background-color: white;
		height: 200px;
	}

	.video iframe{
		height: 200px;
		width: 80%;
	}
}


